= provide(:title, 'Edit note')
%h3 Update your note

.row
  .span6.offset3
    = form_for(@note) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :description
      = f.text_field :description

      = f.label :code
      = f.text_area :code

      = f.label :code_tags
      = f.text_field :code_tags, value: f.object.code_tags.to_s.tr('":[]', "")

      = f.submit "Save note", class: "btn btn-large btn-primary"
