%li
  = link_to gravatar_for(comment.user), comment.user
  %span{class: "user"}
    = link_to comment.user.name, comment.user
  %span{class: "comment"}
    = comment.comment
  - if current_user?(comment.user)
    %span{class: "edit_comment_link btn btn-primary", id: "edit_comment_link_#{comment.id}", comment_id: comment.id}
      edit
      
    = link_to "delete", note_comment_path(comment.note, comment), method: :delete,
                                data: { confirm: "You sure?" },
                                title: comment.comment,
                                class: "btn btn-primary"
    .row
      .comment_edit_drop_down{id: "comment_edit_drop_down_#{comment.id}"}
        =render 'comments/edit', note: comment.note, comment: comment
