- provide(:title, @user.name)
.row
  %aside{class: "span4"}
    %section
      %h1
        = gravatar_for @user
        = @user.name
    %section
      %h2 Interests
      %span{class: "code"}
        .btn_group
          - @user.interests.each do |interest| 
            = link_to interest, "#{interested_in_users_path}?interest=#{interest}", class: "btn"
    %section
      = render 'shared/stats', user: @user

  .span8
    = render 'follow_form' if signed_in?
    - if @user.notes.any?
      .row
        .span4
          %h3 Notes (#{@user.notes.count})
        .span4
          - if current_user?(@user)
            =link_to "Add a New Note", "#", class: "btn btn-large btn-primary add_new" 
      - if current_user?(@user)
        .row
          .new_drop_down
            =render 'shared/note_form' 
      %ol{class: "notes"}
        = render @notes
      = will_paginate @notes
