<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.notes.any? %>
      <h3>Notes (<%= @user.notes.count %>)</h3>
      <ol class="notes">
        <%= render @notes %>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>
</div>
