<%= form_for(@note) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description of note..." %>
    <%= f.text_area :code, placeholder: "The code for the note..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

