<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <div class="row">
        <div class="span4">
          <h3>Note Feed</h3>
        </div>
        <div class="span4">
          <%= link_to "Add a New Note", "#", class: "btn btn-large btn-primary add_new" %>
        </div>

      </div>
      <div class="row">
        <div class="new_drop_down">
          <%= render 'shared/note_form' %>
        </div>
      </div>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

<% provide(:title, 'Home') %>
  <div class="center hero-unit">
    <h1>The Programmer's Notebook</h1>
  
    <h2>
      This is the home page for the
      <a href="http://young-mist-1198.heroku.com/pages/home">The Programmer's Notebook</a>
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>

